@import url("https://fonts.googleapis.com/css?family=Lato:400,700" );
/*Normalizar documento*/
*{
    margin: 0; padding: 0;box-sizing: border-box
}

body{
    font-family: "Lato","Arial",sans-serif;
}

/*Definicion de CSS Variable*/
:root {
    /*Variables de Colores*/
    --c-primario: #E6E2AF;
    --c-secundario: #A7A37E;
    --c-terciario: #EFECCA;
    --c-claro: #046380;
    --c-oscuro: #002F2F;

    
    --iframe-width:650px;
    --iframe-heigth:450px;
}
/*====Layout */
.contenedor {
    background: var(--c-oscuro);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 1fr 50px;
    overflow-x: hidden;
}

.header {
     background: var(--c-secundario);
     grid-column: 1/2;
}

.menu{
    background: var(--c-terciario);
    display: none;
}

.main{
    background: var(--c-primario);
    grid-column: 1/2;
    grid-row: 2/3;
}

.footer{
    background: var(--c-claro);
    grid-column: 1/2;
    grid-row: 3/4;
}

.main {
    padding: 1em;
}
.main .instruccion  {
 width: 90%;
 margin: 0 auto;
 border: 5px solid black;
 background: var(--c-terciario);
 padding: 1em;
}
.main.instruccion {
    margin: 0;padding: 0;
    text-align: center;
    font-weight: bold;
}
.main .contenedor-iframe  {
    width: 90%;
    margin: 0 auto;
    border: 5px solid black;
    text-align: center;
    overflow-x: auto;
    background: var(--c-oscuro);

}
.main .contenedor-iframe iframe{
    width: 650px;
    height: 450px;
    
}
/*estilos barra de navegacion */
.nav * {
    color: var(--c-oscuro);
}
.nav .nav-links li {
    text-align: center;
    margin: 0 auto;
    color: var(--c-claro);
}
.nav .nav-links li:hover {
    background:  var(--c-terciario);
}
.nav .nav-links li a {
    display: block;
    padding: 5px;
    font-weight: bold;
}
}
.nav .menu-open{
    display :inline-block;
    margin: 5px auto 5px 15px;
    font-size: 25px;
}

.nav .menu-toggle{
   position: absolute;
   top: 5px;
   right: 15px;
   font-size: 25px;
   cursor: pointer;

}

/*Normalizar listas y link*/
.lista-links {
    list-style: none;
    margin: 0;
    padding: 0;

}
.lista-links li a {
    text-decoration: none;
}

}.icono-grande {
    font-size: 25px;
   cursor: pointer;
}